extends /_source/_layouts/mallet
block append update_vars
  include ../_icon
  - path = [layout_name+'/test',path].join('/')
block prepend front_matter
  +l| index: false
block header
  .h1|{% include dove/logo.html name="!{layout_name}" %}
block nav
  .mv: +demo_nav(layout_name)
  +thin_hr
  .mv: +test_nav(layout_name+'/test')
  +thin_hr
block footer
  +thin_hr
  nav._common_nav: .mv: +test_nav(layout_name+'/test')
  +thin_hr
  nav._common_nav: .mv: +demo_nav(layout_name)
  +_edit_link