extends _html
block append vars
  - path   = 'post.html'
  - title  = `Post`
  - description = 'Post template in html.'
block footer
  +include('post_footer','post_footer.md')
  +thin_hr
  p: code // site footer
  +thin_hr
  nav._common_nav: .mv: +sample_nav(layout_name)
  +_edit_link
block content
  +sample_post