@use "color" as *;
@use "base";
@use "rouge";
@use "helper";
@use "dove";
// ---------------------------------------------------------------
%_960 { max-width:960px; @extend .mc; }
// ---------------------------------------------------------------
// fixes
._body_layout { @extend %_960; }
._header h1 { font-size:1em;margin:0 }
._theme_switch { top:3px;right:3px }
._theme_switch a,
._nav,
._header,
._footer,
._article { border:1px solid transparent;margin:.5rem;padding:.5rem }
._footer {margin-bottom:3rem}
// ---------------------------------------------------------------
._logo { font-family: 'Arial', system-ui, sans-serif; }
._logo { font-weight: 600 }
._logo, ._nav, ._theme_switch {
  a { text-decoration:none !important; color:inherit }
  a:hover { color:$text-blue }
}