extends _html
block append vars
  - path   = 'index.html'
block append style
  style.
    ._header h1 { padding-top:.3em;margin-top:1rem }
    ._header .desc { padding-bottom:1.3em;margin-top:-0.7em }
    #pages_ ul,
    #posts_ ul,
    .markdown-body .rapat { margin:1rem 0;padding-left:1.3em }
    #pages_ ul li,
    #posts_ ul li,
    .markdown-body .rapat li { margin-left:0 }
block header
  //- no header
  +hide_header
block nav
  //- no nav
  +hide_nav
mixin index_nav(ref)
  b: +sn(ref+"/")| !{capitalize(ref)}
  +angle
  +sn(ref+"/preview")| Preview
  +bull
  +sn(ref+"/samples")| Samples
block content
  .relative: ._bimoji !{icon}
  h1 🕊️ The {{ site.title }} Project
  //- p.desc {{ site.description }}
  .flex(style="gap:3rem")
    .fill#themes_
      //- h3.mt-0 Themes
      p.text-grey We are working on the following themes.
      ul.rapat
        li: +index_nav('core')
        li: +index_nav('mallet')
        li: +index_nav('prime')
        //- li: +index_nav('nova')
  +thin_hr
  p.text-grey Development posts and pages.
  //- - exclude_pages = [ ].join(",");
  //- - exclude_posts = [ ].join(",");
  +capture('pages')|{% include pages.md exclude="!{exclude_pages}" %}
  +capture('posts')|{% include posts.md exclude="!{exclude_posts}" %}
  .flex(style="gap:1rem;flex-flow:wrap")
    #pages_(style="min-width:250px")
      h3.mt-0 Pages
      |{{ pages | markdownify }}
      ul: li: +a('404') 404
    #posts_(style="min-width:250px")
      h3.mt-0 Posts
      |{{ posts | markdownify }}
  +thin_hr
  +if_dev
    +include('nav_test','dove/nav_test.md')
    +thin_hr
  h3 Configurations
  +include_relative('config','config.md')