extends _html
//- extends /_source/_layouts/html
block append vars
  - path   = 'test_pug.html'
  - title  = 'Test Pug'
  - description = 'Testing something here.'
  - testing = false
block prepend front_matter
  +l| index: false
  +l| use_footer: edit_link_only
block content
  if !testing
    .
      {%- capture _page %}{%-
        include 404.md
        title = "Sorry"
        description = "There is nothing to show here."
      %}{%- endcapture %}{{ _page | markdownify }}
  else
    pre.highlight: code.
      // testing ..