@use "sass:color";
@use "color" as *;
@use "_primer";
@use "dove";
@use "helper";
// ---------------------------------------------------------------
%_1200 { max-width:1200px; @extend .mc; position:relative }
%_960  { max-width:960px;  @extend .mc; position:relative }
// ---------------------------------------------------------------
$bg : #fff;
$text_color  : #333;
$grey_border : #ccc;
$code_bg : rgba(#ddd,.7);
$code_tc : #444;
$pre_bg  : #f4f4f4;
// ---------------------------------------------------------------
%std_bg { background-color:$bg }
%std_border { border-color:$grey_border }
%std_margin { margin:16px 0 }
// ---------------------------------------------------------------
body { @extend .scroll_y; }
h1,h2,h3,h4,h5,h6,.h1,.h2,.hero { color:#000 }
.h1,.h2 { padding-bottom:.3em;border-bottom:1px solid $grey_border; }
u,a,abbr { text-underline-offset:.15em }
details { 
  & { @extend %std_margin; }
  summary {
    @extend .pointer;
    p { @extend .inline; }
  }
}
article {
  img { border-radius:5px }
}
.markdown-body {
  hr {
    @extend %std_margin;
    height:0;
    background:none;
    border-bottom:.25em solid $grey_border;
    &.thin { border-bottom-width:1px }
  }
  h1,h2 { @extend %std_border; }
  h5,h6 { color:inherit }
  h1,h2,h3,h4,h5,h6,.h1,.h2 { padding-top:.3em }
  p { @extend %std_margin; }
  blockquote { @extend %std_border;@extend .inherit_color; }
  pre,code,tt,samp,kbd { @extend .mono; }
  kbd { padding:.5em }
  code,tt,kbd { background-color:$code_bg;color:$code_tc }
  pre { code,tt { @extend .no_bg; } }
  img { @extend .no_bg;@extend .text-grey; }
  table {
    & { display:table;width:auto }
    &, th, td { @extend %std_border; }
    thead tr { background-color:#e7e7e7 }
    tr:nth-child(2n) { background-color:#f7f7f7 }
  }
  .hero { @extend .hero; }
  .highlight pre,
  .highlight,pre { border-radius:5px;background-color:$pre_bg }
  .highlight {
    .hll { background-color:rgba(#fa0,.2) }
  }
  figure.highlight { @extend .ml0;@extend .mr0; }
  .task-list { padding-left:.25em; ul,ol { padding-left:2em } }
  ._footer { margin-bottom:4rem !important }
}
._header {
  h1 { margin-top:0 } // logo holder
  ._logo {
    & { font-size:1.5rem;line-height:1 }
    a {
      @extend .block;
      @extend .inherit_color;
      @extend .no_u;
      padding:.25rem;
      margin:-.25rem;
    }
    a:hover { @extend .text-blue; }
  }
}
._theme_switch {
  a { font-size:1.3rem;padding:.5rem } // to align with _logo
  a,
  a:focus { @extend .inherit_color; }
  a:hover { @extend .text-blue; }
}
._common_nav a,
._nav a {
  & { @extend .text-slategrey; }
  &:hover { @extend .text-blue; }
}
.itext { vertical-align:baseline }
.box { border-radius:5px;padding:.5em 1em;@extend %std_border; }
.button {
  &.primary {
    @extend .bg-blue;
    @extend .text-white;
    @extend .border-blue;
  }
  &.secondary {
    @extend .bg-slategrey;
    @extend .text-white;
    @extend .border-slategrey;
  }
}
div.highlight { @extend .no_overflow; }
pre.highlight { @extend .scrollable; }
.highlight {
  .mh  { @extend .ma0; }
}
.rouge-table {
  td.code,
  td.gutter { vertical-align:top }
}
.footnotes {
  ul,ol { list-style-position:inside;padding-left:0 }
  li>p { @extend .inline; }
}
// ---------------------------------------------------------------
$dark_bg : color.invert($bg);
$dark_text_color : color.invert($text_color);
$dark_code_bg : rgba(#333,.7);
$dark_code_tc : #bbb;
$dark_pre_bg  : #171717;
// ---------------------------------------------------------------
%dark_std_bg { background-color:color.invert($bg) }
%dark_std_border { border-color:color.invert($grey_border) }
._dark {
  body { color:color.invert($text_color);@extend %dark_std_bg; }
  h1,h2,h3,h4,h5,h6,.h1,.h2,.hero { color:#fff }
  .h1,.h2 { @extend %dark_std_border; }

  .markdown-body {
    hr { border-color:color.invert($grey_border) }
    h1,h2 { @extend %dark_std_border; }
    blockquote { @extend %dark_std_border; }
    code,tt,kbd { background-color:$dark_code_bg;color:$dark_code_tc }
    kbd { border-color:$dark_code_bg;box-shadow:inset 0 -1px 0 $dark_code_bg; }
    table {
      &, th, td { @extend %dark_std_border; }
      tr { @extend %dark_std_bg; }
      thead tr { background-color:#242424 }
      tr:nth-child(2n) { background-color:#141414 }
    }
    .highlight pre,
    .highlight,pre { background-color:$dark_pre_bg }
  }
  .box { @extend %dark_std_border; }
}
// ---------------------------------------------------------------
._dark {
  .highlight {
    .o,.ow,
    .k,.kd,.kp,.kr { color:#dcb }
    .m,
    .kc,
    .no,.nv { color:#0bb }
    .vi,
    .na { color:#099 }
    .nd { color:#496 }
    .ni { color:#b4b }
    .ss { color:#a6d }
    .nt,.nc,.nn,.nb { color:#48b }
    .ne,.nf,.nl { color:#d54 }
    .gr,.gt,
    .s,.si,.s1,.s2 { color:#f36; }
    .gd { background-color:rgba($text-red,.25);color:$text-white }
    .gi { background-color:rgba($text-green,.25);color:$text-white }
    .err { background-color:#300;color:#d33 }
  }
}