extends _html
block append vars
  - path   = 'home.html'
  - title  = `Home`
  - description = 'Home template in html.'
block content
  - x = `name='${layout_name}'`
  +include('sample','dove/sample_home.md',x)