extends _html
block append vars
  - path   = 'samples.html'
  - title  = `Samples`
  - description = `Theme samples.`
block append style
  style.
    ._article h1.hero { border:0;padding-bottom:0;margin-bottom:1rem }
    ._article h2.desc { border:0;margin-top:-0.7em }
block content
  .relative: ._bimoji !{icon}
  - title  = `Theme samples`
  - description = `Essential templates for any website`
  h1.hero !{title}
  h2.desc !{icon} !{removeLastDot(description)}
  p| #[strong #[a(href="./preview") Preview the theme]] to see how it looks and #[strong #[a(href="./#how-to-use") start using it]] today!

  div(style="margin-top:3rem")

  h2 Starters
  nav.mv
    b Html
    +itext|:
    +site_nav(layout_name+'/html')
  nav.mv
    b Md
    +itext|:
    +site_nav(layout_name+'/md')

  div(style="margin-top:3rem")

  h2 Miscellaneous
  nav.mv: +test_nav(layout_name+'/test')

  +if_dev
    +thin_hr
    nav.mv: +sn(layout_name+'/test')| Test page

  div(style="margin-top:3rem")
