extends _html
block append vars
  - path   = '404.html'
  - title  = `Not found`
  - description = `We can't find what you are looking for.`
block content
  +l|{%- include dove/404.md title="Oops! Nothing found" %}
block footer
  //- no site footer
  +_edit_link