extends _html
block nav
  .mv: +samples_nav(layout_name)
  +thin_hr
block footer
  +thin_hr
  nav._common_nav
    .mv: +samples_nav(layout_name)
  +thin_hr
  nav._common_nav
    +include('tj_nav','dove/tj_nav.md')
  +_edit_link