extends _html_samples
block append vars
  - path   = 'about.html'
  - title  = `About`
  - description = `About the theme.`
block header
  .h1|{% include dove/logo.html %}
  //- +hide_header
block nav
  +hide_nav
block append style
  style.
    ._article h1 { padding-top:.3em;border:0;font-size:3em;font-weight:bold }
    ._article h2:first-of-type { border:0;padding-bottom:1.3em;margin-top:-0.7em }
    ._footer { margin-top:3rem }
block content
  .relative: ._bimoji !{icon}
  +include_relative('about','README.md')