extends _html
block append vars
  - path   = 'post.html'
  - title  = `Post`
  - description = 'Post template in html.'
block prepend footer
  +include('post_footer','post_footer.md')  
block content
  h1 Post title
  p: code // post sample written in html
  +thin_hr
  +include('vars_page','dove/vars_page.md')