extends _html
block append vars
  - path   = 'test.html'
  - title  = `Test`
  - description = `Test page.`
//- block nav
  +hide_nav
block footer
  //- no site footer
  +_edit_link
block content
  pre.highlight
    code # !{removeLastDot(description)}