extends /_source/_layouts/mallet
block append update_vars
  - icon = '⚒️'
  - path = [layout_name,path].join('/')
block prepend front_matter
  +l| index: false
  +l| sample: true
block header
  .h1|{% include dove/logo.html name="!{layout_name}" %}
block nav
  .mv: +demo_nav(layout_name)
  +thin_hr
block footer
  +thin_hr
  nav._common_nav: .mv: +demo_nav(layout_name)
  +thin_hr
  nav._common_nav: +include('tj_nav','dove/tj_nav.md')
  +_edit_link