extends _html
block append vars
  - path   = 'home.html'
  - title  = `Home`
  - description = 'Home template in html.'
block append style
  style.
    #hero_block { padding:1rem 2rem }
    #hero_block h1 { padding-top:0;margin-top:1rem }
    #hero_block h2 { border:0;font-weight:normal;font-size:1.2em;margin-top:1rem }
block content
  #hero_block.box.no_overflow
    .relative: ._bimoji !{icon}
    h1 !{icon} Site title
    h2 Site slogan or description

  +thin_hr
  p: code // home content in html