extends _html
block append vars
  - path   = 'page.html'
  - title  = `Page`
  - description = 'Page template in html.'
block footer
  +include('page_footer','page_footer.md')  
  +thin_hr
  p: code // site footer
  +_edit_link
block content
  h1 Page title
  p: code // page sample written in html
  +thin_hr
  +include('vars_page','dove/vars_page.md')